@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: logoText;
  src: url('./fonts/Fustat-VariableFont_wght.ttf');
}

.logoText {
  font-family: logoText;
  text-shadow: 2px 2px 4px #4e4d4d;
  font-weight: 200;
}
.logoText-notLogo{
  font-family: logoText;
  text-shadow: 2px 2px 4px #4e4d4d;
}

.invisible{
  opacity: 0;
}
.make-visible{
  opacity: 1;
  z-index: 999;
}
.mouse-tracker {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.mouse-tracker.make-visible {
  opacity: 1; /* Visible */
}
